body{
	margin: 0;
}

/*
style of navigation bar begins
*/
.navbar {
	background: rgb(50, 50, 50);
  	height: 4rem;
  	overflow: hidden;
  	top: 0;
  	position: sticky;
  	border-bottom: 1px groove brown;
}
.navbar ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;

}
.navbar > ul{
	max-width: 900px;
	padding: 0 2rem;
	display: flex;
}
.navbar > ul > .navbar-item{
	flex: 1;
	padding: 0.75rem 0;
}
.navbar > ul > .navbar-item:after{
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	bottom: 5px;
	left: calc(50% - 2px);
	background: red;
	will-change: transform;
	transform: scale(0);
	transition: transform 0.2s ease;
}

.navbar > ul > .navbar-item:hover:after{
	transform: scale(1.5);
}

.navbar-item {
	position: relative;
	line-height: 2.5rem;
	text-align: center;
}
.navbar-item a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	color: white;
	text-decoration: none;
	font-family: verdana;
}

/*style of navigation bar ends */


/* container style begins*/

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  background: white;
  
}

/* Left and right column */
.column.side {
  width: 25%;
  margin-left: 10%;
  margin-top: 5%;
}

/* Middle column */
.column.middle {
  	width: 50%;
  	margin-top: 5%;
  	font-family: Georgia;
  	font-size: 20px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/*
	Footer style begins
*/
.footer {
  	background: rgb(50, 50, 50);
  	padding: 45px 0 20px;
  	font-size: 15px;
  	line-height: 24px;
  	color: white;
  	font-family: verdana;
  	position:relative;
   	bottom:0;
   	width:100%;
   	height:150px;
   	border-top: 1px groove black;
   	text-align: center;
}

/* 
	End of the footer-style
*/