body{
	margin: 0;
}

/*
style of navigation bar begins
*/
.navbar {
	background: rgb(250, 250, 250);
  	height: 4rem;
  	overflow: hidden;
  	top: 0;
  	position: sticky;
  	border-bottom: 1px groove brown;
}
.navbar ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;

}
.navbar > ul{
	max-width: 900px;
	padding: 0 2rem;
	display: flex;
}
.navbar > ul > .navbar-item{
	flex: 1;
	padding: 0.75rem 0;
}
.navbar > ul > .navbar-item:after{
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	bottom: 5px;
	left: calc(50% - 2px);
	background: red;
	will-change: transform;
	transform: scale(0);
	transition: transform 0.2s ease;
}

.navbar > ul > .navbar-item:hover:after{
	transform: scale(1.5);
}

.navbar-item {
	position: relative;
	line-height: 2.5rem;
	text-align: center;
}
.navbar-item a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	color: #446061;
	text-decoration: none;
	font-family: verdana;
}

/*style of navigation bar ends */


/* container style begins*/

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  
}

/* Left and right column */
.column.side {
  width: 25%;
  margin-left: 10%;
  margin-top: 5%;
}

/* Middle column */
.column.middle {
  	width: 50%;
  	margin-top: 5%;
  	font-family: Georgia;
  	font-size: 20px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


7/* Comment section style*/
.contact-us {
  background: #f8f4e5;
  padding: 40px 60px;
}

label, input, textarea {
  display: block;
  width: 100%;
  font-size: 12pt;
  line-height: 24pt;
  font-family: "Spartan";
}

input {
  margin-bottom: 14pt;
}

h3 {
  font-weight: normal;
  font-size: 10pt;
  line-height: 24pt;
  font-style: italic;
  margin: 0 0 0.5em 0;
}


em {
  color: #f45702;
  font-weight: bold;
}

input, textarea {
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #f8f4e5;
  padding-left: 5px;
  outline: none;
}

input:focus, textarea:focus {
  border: 1px solid #6bd4b1;
}

textarea {
  resize: none;
}

button {
  display: block;
  float: left;
  line-height: 24pt;
  padding: 0 20px;
  border: none;
  background: #f45702;
  color: white;
  letter-spacing: 1px;
  
}
button:hover {
  background: inherit;
  color: #f45702;
  border-bottom: 2px solid #f45702;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid #6bd4b1;
  -webkit-text-fill-color: #2A293E;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/*
	Footer style begins
*/
.footer {
	background: rgb(250, 250, 250);
	padding: 45px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: #331729;
	font-family: verdana;
	position:relative;
   	bottom:0;
   	width:100%;
   	height:150px;
   	border-top: 1px groove black;
   	text-align: center;
}

/* 
	End of the footer-style
*/