body{
	margin: 0;
}

/*
style of navigation bar begins
*/
.navbar {
	background: rgba(220, 220, 220, 0.3);
  	height: 4rem;
  	overflow: hidden;
  	top: 0;
  	position: sticky;
}
.navbar ul{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;

}
.navbar > ul{
	max-width: 900px;
	padding: 0 2rem;
	display: flex;
}
.navbar > ul > .navbar-item{
	flex: 1;
	padding: 0.75rem 0;
}
.navbar > ul > .navbar-item:after{
	content: "";
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	bottom: 5px;
	left: calc(50% - 2px);
	background: red;
	will-change: transform;
	transform: scale(0);
	transition: transform 0.2s ease;
}

.navbar > ul > .navbar-item:hover:after{
	transform: scale(1.5);
}

.navbar-item {
	position: relative;
	line-height: 2.5rem;
	text-align: center;
}
.navbar-item a {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	color: #446061;
	text-decoration: none;
	font-family: verdana;
}

/*style of navigation bar ends */


/* container style begins*/
.row {
  display: -webkit-flex;
  display: flex;
}
.column {
	margin-top: 4rem;
  	padding: 10px;
}

/* Left and right column */
.column.side.right {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   /*background-color: rgba(200, 200, 200, 0.5);*/
   margin-right: 100px;
}
.column.side.left {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  padding: 20px;
}
.main-title{
	font-family: papyrus;
	font-size: 60px;
}
.main-text{
	font-family: Georgia;
	font-size: 20px;
}


/*
	Footer style begins
*/
.footer {
	background-color: rgba(220, 220, 220, 0.4);
	padding: 45px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color: #331729;
	font-family: verdana;
	position:relative;
   	bottom:0;
   	width:100%;
   	height:150px
}

/* 
	End of the footer-style
*/